validationSchema.xsd



<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="class">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="user">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="FIO">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="firstname"/>
                                        <xs:element type="xs:string" name="lastname"/>
                                        <xs:element type="xs:string" name="fathername"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="contact">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="telephonenumber"/>
                                        <xs:element type="xs:string" name="mail"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="work">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="workplace" maxOccurs="unbounded" minOccurs="0"/>
                                        <xs:element type="xs:int" name="experience"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>

